[submodule "elmod.jl"]
	path = elmod.jl
	url = https://git.tu-berlin.de/wip/elmodtoolbox/elmod.jl.git
[submodule "technology-data"]
	path = technology-data
	url = https://github.com/WouterKoksNL/technology-data.git
